/* .newsletterInput{
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    background-color: transparent;
    border-color: white ;  
    border-radius: 5px;
    border-top-color: white;
    color: white;
}

.submitNewsletter{
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
}

.submitNewsletter:hover{
    background-color: white;
    color: black;
    border-color: white;
} */