@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


:root{
  /****************BODY FONT****************/
  --bodyFont: "Ubuntu";

  /****************COLOR****************/
  --primary-white:#fefefe;
  --primary-blue: #2e79c8;
  --primary-brown: #68303e;
  --primary-orange: #ff834f;
  --primary-black: #010103;
  --primary-grey: #282c34;
  --primary-green: #5FA423;
}


/****************NAVTOP****************/
.contact {
  color: red !important;
  font-size: 18px;
}

/****************NAVBAR****************/
.logo{
  width: 100px;
  height: 100px;
}

nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}
nav ul{
  margin-left: auto !important;    
}

.navbar-nav > li > a{
  font-size: 1rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-grey) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-bottom: 0.1875rem solid var(--primary-brown);

}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--primary-black);
}

.menu{
  background-color: var(--primary-orange);
}


.BtnBookNow{
  background-color: var(--primary-grey) !important;
  color: var(--primary-white) !important;
}


/****************NAVTOP****************/
.navtop{
  background-color: var(--primary-grey);
}

.social > a{
  color: var(--primary-white) !important;
}

.contact > a{
  color: var(--primary-white) !important;
}

.contact> a:hover{
  color: var(--primary-orange) !important;
}

.social> a:hover{
  color: var(--primary-orange) !important;
}
/****************SLIDER****************/



html, body {
  max-width: 100%;
  overflow-x: hidden;
}


/********************FOOTER********************/
.footer{
  background-color: var(--primary-grey);
  color: var(--primary-white) !important;
  
}

.contact-footer{
  padding-bottom: 20px;
  text-emphasis: none;
}

.logofooter{
  height: 100px;
  width: 100px;
  
}

.description-footer{
  text-align: justify;
}

.contact-list > a {
  margin: 0px 2rem !important;
  color: var(--primary-white);
  text-decoration: none !important;
  cursor: pointer !important;
}

.social-footer > a{
  color: var(--primary-white);
  cursor: pointer !important;
}

.legacy > a{
  color: var(--primary-white) !important;
}

.legacy > a:hover{
  color: var(--primary-orange) !important;
}

.copyright{
  background-color: var(--primary-orange);
  color: var(--primary-grey);
}
