@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


:root{
  /****************BODY FONT****************/
  --bodyFont: "Ubuntu";

  /****************COLOR****************/
  --primary-white:#fefefe;
  --primary-blue: #2e79c8;
  --primary-brown: #68303e;
  --primary-orange: #ff834f;
  --primary-black: #010103;
  --primary-grey: #282c34;
  --primary-green: #5FA423;
}


/****************NAVTOP****************/
.contact {
  color: red !important;
  font-size: 18px;
}

/****************NAVBAR****************/
.logo{
  width: 100px;
  height: 100px;
}

nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}
nav ul{
  margin-left: auto !important;    
}

.navbar-nav > li > a{
  font-size: 1rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-grey) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-bottom: 0.1875rem solid var(--primary-brown);

}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--primary-black);
}

.menu{
  background-color: var(--primary-orange);
}


.BtnBookNow{
  background-color: var(--primary-grey) !important;
  color: var(--primary-white) !important;
}


/****************NAVTOP****************/
.navtop{
  background-color: var(--primary-grey);
}

.social > a{
  color: var(--primary-white) !important;
}

.social{
  text-align: right;
}

.contact > a{
  color: var(--primary-white) !important;
}

.contact> a:hover{
  color: var(--primary-orange) !important;
}

.social> a:hover{
  color: var(--primary-orange) !important;
}
/****************SLIDER****************/



html, body {
  max-width: 100%;
  overflow-x: hidden;
}


/********************FOOTER********************/
.footer{
  background-color: var(--primary-grey);
  color: var(--primary-white) !important;
  
}

.contact-footer{
  padding-bottom: 20px;
  text-emphasis: none;
}

.logofooter{
  height: 100px;
  width: 100px;
  
}

.description-footer{
  text-align: justify;
}

.contact-list > a {
  color: var(--primary-white);
  text-decoration: none !important;
  cursor: pointer !important;
}

.contact-list > a:hover{
  color: var(--primary-orange);
}

.social-footer > a{
  color: var(--primary-white);
  cursor: pointer !important;
}

.social-footer > a:hover{
  color: var(--primary-orange);
}


.legacy > a{
  color: var(--primary-white) !important;
}

.legacy > a:hover{
  color: var(--primary-orange) !important;
}

.copyright{
  background-color: var(--primary-orange);
  color: var(--primary-grey);
}

.copyrightText> a{
  color: var(--primary-grey);
}

.copyrightText> a:hover{
  color: var(--primary-brown);
}

.subscribe{
  background-color: var(--primary-orange) !important;
  color: var(--primary-grey) !important;
  text-transform:none !important;
  margin-bottom: 4px !important;
  text-decoration: none !important;
}

.mailInput{
  height: 40px;
  margin-top: 2px;
  border-radius: 5px;
  padding: 10px !important;
}
/**************PROPOS SECTION1*************/
/*
#AproposSection1{   
        
}
*/
#AproposSection1>h4{   
  text-align: center;   
}
#AproposSection1>p{   
  text-align: justify;    
}

/*Commentaire test branch*/
h3{
  text-emphasis: none;
}

/*******************TEAM****************/


.img1{
  width: 200px;
  height: 200px;
  
}
.team-photo{
  justify-content: center;
  display: block !important;
  margin-left: auto;
margin-right: auto;
}


.team-section{
  color: var(--primary-grey) !important;
  background-repeat: no-repeat;
  border-radius: 10px;
  
}

/* #bg-conf{
  background-image: url("../images/qerozia-photo.png") !important;
  background-repeat: repeat;
  padding-top: 20px;
  padding-bottom: 20px;
} */

.card-team-each{
  background-color: transparent;
  color: var(--primary-orange);
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 0 4px 8px 0 var(--primary-grey), 0 6px 20px 0 var(--primary-grey) !important;
  text-align: center;
}

.espacement{
  margin-right: 80px !important;
  margin-left: 80px !important;
}

.nom-team{
  border: 2px solid var(--primary-orange) !important;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  vertical-align: middle;
  background-color: var(--primary-orange);
  color: var(--primary-grey);
  text-align: center;
}

.social-icon{
  color: var(--primary-orange) !important;
}

.nom-poste{
  color: var(--primary-orange) !important;
}

.card-body{
  justify-content: center !important;
}

.card-text{
  color: var(--primary-orange);
}

.card-group{
  background-color: var(--primary-grey) !important;
}