@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



:root{
  /****************BODY FONT****************/
  --bodyFont: "Ubuntu";

  /****************COLOR****************/
  --light: #d0d1d3;
  --dark: #121212;
  --primary-green: #26a712;
  --primary-white:#fff;
  --primary-blue: #2e79c8;
  --primary-bleu: #0aa4af;
  --primary-brown: #68303e;
  --primary-orange: #ffffff;
  --primary-black: #010103;
  --primary-grey: #0e2a47;

  --travelia1 : #433A3A;
  --travelia2 : #4C4C57;
  --travelia3 : #595965;
  --travelia4 : #AA9D8B;
  --travelia5 : #FAE7CE;
  --travelia6 : #EEDBC4;
  --travelia7 : #D8C8B1;
  --travelia8 : #F3C85A;
  --travelia9 : #B8AA96;
  --travelia10 : #D9B351;
}


.breadcrumb{
  font-family: var(--bodyFont) !important;
  text-transform: capitalize;
  background-color: transparent;
}
.footers {
  display: flex;  
  flex-direction: row;
  align-items: flex-end;
  padding: 1em;
  background: url('data:image/svg+xml;base64,PHN2ZyBpZD0idmlzdWFsIiB2aWV3Qm94PSIwIDAgMTIwMCAyMDAiIHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIj48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIyMDAiIGZpbGw9IiMyODJjMzQiPjwvcmVjdD48cGF0aCBkPSJNMCAxMjhMNDAgMTI4LjhDODAgMTI5LjcgMTYwIDEzMS4zIDI0MCAxMzMuM0MzMjAgMTM1LjMgNDAwIDEzNy43IDQ4MCAxMzYuN0M1NjAgMTM1LjcgNjQwIDEzMS4zIDcyMCAxMzJDODAwIDEzMi43IDg4MCAxMzguMyA5NjAgMTM5LjhDMTA0MCAxNDEuMyAxMTIwIDEzOC43IDExNjAgMTM3LjNMMTIwMCAxMzZMMTIwMCAyMDFMMTE2MCAyMDFDMTEyMCAyMDEgMTA0MCAyMDEgOTYwIDIwMUM4ODAgMjAxIDgwMCAyMDEgNzIwIDIwMUM2NDAgMjAxIDU2MCAyMDEgNDgwIDIwMUM0MDAgMjAxIDMyMCAyMDEgMjQwIDIwMUMxNjAgMjAxIDgwIDIwMSA0MCAyMDFMMCAyMDFaIiBmaWxsPSIjMmU3OWM4IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiPjwvcGF0aD48L3N2Zz4=');
  background-repeat: repeat-x;
  background-size: cover;
  color: white;
}

.footers div {
  flex-grow: 1;
}

/****************NEWSLETTER BANNER****************/
.SubscribeNewsletter{
  align-items: center;
  display: flex;
  justify-content: center;
}

.form__field {
  width: 100%;
  background: var(--primary-white);
  color: var(--primary-black);
  font: inherit;
  box-shadow: 5px 10px 10px 2px rgb(22, 21, 21);
  border: 1px solid var(--primary-white);
  /* border-radius: 5px; */
  padding: 20px 16px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (min-width: 500px) {
  .form__field {
    width: 450px;
  }
}


.boutonx{
  margin-left: -120px;
  width: 150px;
  background-color: #4a5cd1 !important;
  color: var(--primary-white) !important;
  padding: 10px !important; 
}


.boutonx:hover{
  background-color: #2032a1 !important;
}


.submit-feedback{
  font: inherit !important;
}

.errorMsg{
  color: red;
}
.successMessage{
  color: #26a712;
}

/****************NAVTOP****************/
.contact {
  font-size: 16px;
}

/*****************TERMS & CONDITIONS***************/
.terms-conditions{
  text-align: justify;
}


/****************NAVBAR****************/
/* .logo{
  width: 200px;
  height: 90px;
} */

.nestedMenu{
  color: var(--primary-white) !important;
  font-family: var(--bodyFont) !important;
  font-weight: bolder !important;
  margin-top: 1px !important;
  background-color: transparent !important;
  font-size: 15px !important;
}


.nestedMenu:hover{
  border-bottom: 0.1875rem solid var(--primary-white) !important; 
}

.madagascarMenu{
  text-decoration: none !important;
  font-family: var(--bodyFont) !important;
  color: var(--primary-grey) !important;
}

.faBarsMd{
  border: solid 2px var(--primary-white) !important;
  margin: 5px !important;
  border-radius: 5px !important;
  border-color: var(--primary-white) !important;
}


nav a.nav-link{
  font-weight: bolder;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-size: 15px !important;
}

.NewsBlog{
  color: #efcd43 !important;
}

nav ul li{
  text-transform: uppercase;
}
nav ul{
  margin-left: auto !important;    
}

.navbar-nav > li > a{
  font-size: 1rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-bottom: 0.1875rem solid var(--primary-white);
}


.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--primary-white); 
}

.menu{
  background-image: url('../images/Navbar.svg');
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: 25414;
  position: -webkit-sticky !important;
    position: sticky !important; */
    top: 0 !important;
    padding: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.10) !important;
}


.buttonShowMore{
  background-color: var(--primary-grey) !important;
  color: var(--primary-white) !important;
  border: white solid 1px !important;
  border-radius: 10px;
}

.RequestNow{
  color: var(--primary-white) !important;
  background-color: var(--primary-grey) !important;
  border: var(--primary-grey) solid 1px !important;
}

.RequestNow:hover{
  background-color: white !important;
  border: var(--primary-grey) solid 1px !important;
  color: var(--primary-grey) !important;
  font-weight: bolder !important;
}


/****************NAVTOP****************/
.navtop{
  background-image: url('../images/navtop.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.social > a{
  color: var(--primary-white) !important;
}

.social{
  text-align: right;
}

.contact > a{
  color: var(--primary-white) !important;
}

.contact> a:hover{
  color: var(--primary-orange) !important;
  font-weight: bolder !important;
}

.social> a:hover{
  color: var(--primary-orange) !important;
}
/****************SLIDER****************/


html, body {
  max-width: 100%;
  overflow-x: hidden;
}


.genereric-icon{
  font-size: large !important;
  backdrop-filter: blur(2px);
}

.texte-icons{
  color: white !important;
}

@media screen and (max-width: 1175px) {
  .banner-trust {
    display: none;
  }
}

.miakatra{
  margin-left: 20px !important;
  color: red !important;
}

/********************FOOTER********************/
.footer{
  /* background-color: var(--primary-grey); */
  color: var(--primary-white) !important; 
  background-image: url('../images/footer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.payment-method{
  text-align: left !important;
  width: 70%;
  height: 70%;
}

.listTours{
  list-style-type: none;
  text-decoration: none !important;
  color: var(--primary-white);
}

.listTours:hover{
  color: var(--primary-bleu);
}


.contact-footer{
  padding-bottom: 20px;
  text-emphasis: none;
}

.logofooter{
  margin-top: 15px;
  height: 60px;
  width: 250px;
  
}

.description-footer{
  margin-top: 15px;
  text-align: justify;
  align-items: flex-end;
}

.contact-list > a {
  color: var(--primary-white);
  text-decoration: none !important;
  cursor: pointer !important;
}

.contact-list > a:hover{
  color: var(--primary-bleu);
  font-weight: bolder !important;
}

.social-footer > a{
  color: var(--primary-white);
  cursor: pointer !important;
}




.legacy > a{
  color: var(--primary-white) !important;
}


.legacy > a:hover{
  font-weight: bolder !important;
}

.copyright{
  color: var(--primary-white);
  background-image: url('../images/Navbar.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.copyrightText> a{
  color: var(--primary-grey);
}

.copyrightText> a:hover{
  color: var(--primary-brown);
}

.subscribe{
  background-color: var(--primary-orange) !important;
  color: var(--primary-grey) !important;
  border-radius: 5px !important;
  border-color: var(--primary-grey) !important;
  height: 45px !important;
  width: 30%;
}

.subscribe a {
  text-decoration: none !important;
  cursor: pointer;
  color: inherit !important;
}

.mailInput{
  height: 45px;
  margin-top: 2px;
  border-radius: 5px;
  padding: 10px !important;
  width: 65%;

}

/**************PROPOS SECTION1*************/
/*
#AproposSection1{   
        
}
*/
#AproposSection1>h4{   
  text-align: center;   
}
#AproposSection1>p{   
  text-align: justify;    
}

/*Commentaire test branch*/
h3{
  text-emphasis: none;
}

/*******************TEAM****************/


.img1{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.team-photo{
  justify-content: center !important;
  display: block !important;
  margin-left: auto;
margin-right: auto;
}


.team-section{
  color: var(--primary-grey) !important;
  background-repeat: no-repeat;
  border-radius: 10px;
  
}



.card-team-each{
  background-color: transparent;
  color: var(--primary-orange);
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 0 4px 8px 0 var(--primary-grey), 0 6px 20px 0 var(--primary-grey) !important;
  text-align: center;
}

.espacement{
  margin-right: 80px !important;
  margin-left: 80px !important;
}

.nom-team{
  border: 2px solid var(--primary-orange) !important;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  vertical-align: middle;
  color: var(--primary-white);
  text-align: center;
}

.social-icon{
  color: var(--primary-white) !important;
}

.social-icon:hover{
  color: grey !important;
}

.nom-poste{
  color: var(--primary-orange) !important;
}

.card-body{
  justify-content: center !important;
  /* background-image: url('../images/bgContactForm.svg'); */
}

.card-text{
  color: var(--primary-white);
}

.card-group{
  background-color: var(--primary-grey) !important;
}


/****************TOUR CARD**********************/


.learnMoreBtn{
  background-color: var(--primary-grey) !important;
  color: var(--primary-white) !important;
  border-radius: 5px !important;
  border-color: var(--primary-white) !important;
  height: 45px !important;
  width: 48%;
  
}

.learnMoreBtn:hover{
  background-color: var(--primary-white) !important;
  color: var(--primary-grey) !important;
  border-color: var(--primary-grey) !important;
  
}

.learnMoreBtn >a {
  text-decoration: none !important;
  cursor: pointer;
  color: inherit !important;

}

.card-title{
  color: var(--primary-white) !important;
}

.infoPratique{
  color: var(--primary-white);
}

.card{
  background-color: var(--primary-grey) !important;
}

.RequestQuoteBtn{
  float: right;
  background-color: var(--primary-grey) !important;
  height: 45px !important;
  width: 48%;
  border-color: var(--primary-white) !important;
  border-radius: 5px !important;
  color: var(--primary-white);
}

.RequestQuoteBtn:hover{
  background-color: var(--primary-white) !important;
  color: var(--primary-grey);
}

/*****************RELATED TOURS******************/

.related-tours{
color: var(--primary-black);
}
.related-tours:hover{
  color: var(--primary-grey);
  font-weight: bolder;
}

/****************ITINERARY*****************/
.vertical-timeline::before{
  background: var(--primary-grey) !important;
}

.included{
  background-color: transparent !important;
  border-color: var(--primary-green) !important;
}

.included-header{
  border-color: var(--primary-green) !important;
}

.excluded{
  background-color: transparent !important;
  color: var(--primary-black) !important;
  border-color: red !important;
}

.excluded-header{
  border-color: red !important;

}

.price-itinerary{
  text-align: right !important;
}

.PriceTours{
  background-color: transparent !important;
  border: var(--primary-grey) solid 1px !important;
  color: var(--primary-grey) !important;
}

.PriceTours:hover{
  background-color: var(--primary-grey) !important;
  color: var(--primary-white) !important;
  border: var(--primary-grey) solid 1px !important;
  font-weight: bolder;
}

/**************FAQS*************/
.accordion-button{
  background-color: var(--primary-grey) !important;
  color: var(--primary-white) !important;
}


/*******BOOK NOW MODAL*******/

.msg{
  float: left !important;
  margin-top: -20px !important;
  margin-bottom: 25px;
}

.dialogBookModal{
  font-family: var(--bodyFont) !important;
  text-transform: initial !important;
}

.btnActionBookModal{
  font-family: var(--bodyFont) !important;
  text-transform: initial !important;
  font-size: 16px !important;
}

.modalBookNow{
  background-color: var(--primary-grey) !important;
  color: var(--primary-white);
  border-color: var(--primary-grey) !important;
  font-family: var(--bodyFont) !important;
  text-transform:initial !important;
}

.nameModal,
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
select:focus,
label:focus,
.btn:active,
.btn.active{
  outline:0px !important;
  box-shadow: none !important;

}



.BookMyTravel{
  background-color: var(--primary-orange) !important;
  color: var(--primary-grey) !important;
}

/**************BOOK NOW BUTTON***************/

.GoHome{
  text-align: center !important;
}

.BtnBookNow{
  background-color: transparent !important;
  color: var(--primary-white) !important;
  border: solid var(--primary-white) 1px !important;
}

.BtnBookNow:hover{
  background-color: var(--primary-white) !important;
  color: var(--primary-grey) !important;
  border: solid var(--primary-white) 1px !important;
  font-weight: bold;
}


/**************SUBSCRIBE***************/
.SubscribeButton{
  background-color: transparent !important;
  color: var(--primary-white) !important;
  border: 1px solid white !important;
}

.SubscribeButton:hover{
  background-color: var(--primary-white) !important;
  color: var(--primary-grey) !important;
  border: 1px solid var(--primary-white) !important;
}
/*****************CONTACT****************/

.formInput {
  padding: 15px 10px;
  background-color: transparent;
  color: var(--primary-white) !important;
}


.formInput:focus {
  background-color: transparent !important;
  box-shadow: 0 0 0 2px var(--primary-orange);
  color: var(--light);
}

.formInput::placeholder {
  color: var(--primary-white);
  opacity: 0.5;
}

.formInput:focus::placeholder {
  color: var(--light);
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin: 0;
  padding: 0;
  float: left !important;
}

#notifyToast {
  color: var(--primary-white);
  border-radius: 6px;
  width: 340px !important;
  text-align: center;
  /* margin-left: -12px; */
  margin: auto !important;
  background-color: var(--primary-green);
}

.submit-btn {
  background-color: var(--primary-grey);
  color: var(--primary-white) !important;
  padding: 15px 50px;
  border: 2px solid var(--primary-grey);
  border-radius: 10px;
  margin-bottom: 25px;
}

.submit-btn:hover {
  background-color: var(--primary-orange);
  color: var(--dark) !important;
  border: 2px solid var(--primary-white);
}

.submit-btn:disabled:hover {
  background-color: var(--dark);
  color: var(--green) !important;
  cursor: wait;
}

@media (max-width: 768px) {
  .submit-message {
    width: 125px;
    margin-left: 200px;
  }
}

.tana{
  background-image: url('../images/bgContactForm.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-white);
  
}

.partieGauche > a{
  color: var(--primary-white);
  text-decoration: none !important;
color: inherit;
}

.partieGauche > a:hover{
  color: #C0C6CB;
}

/************************COVID BANNER********************/

.covid-info{
  background-image: url('../images/Virus.svg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.checkOk{
  float: left !important;
  width: 80px !important;
  height: 80px !important;
}

.checkOk:hover{
  fill: #2e79c8 !important;
}

/*****************VERTICAL TIMELINE*************/
.dayCounter{
  color: var(--primary-black);
}

@media screen and (max-width: 1169px) {
  .dayCounter{
    color: var(--primary-white);
  }
}

/*********************TOUR CATEGORY****************/
.slideTours{
 vertical-align: middle !important;
}

/****************RECOMMENDED TOUR******************/


.strips-container{
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
}
.strips{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        display: block;
        position: absolute;
        right: -100px;
        top: 20px;
        padding: 20px 100px;
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
        text-align: center;
        background: #ffa500;
        color: #000;
        font-size: 14px;
} 



/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.PremiumCard1 .PremiumCard2 {
  float: right !important;
}


/**************TOUR CATEGORY*******************/
.kiraro{
  display: flex;
  justify-content: left;
  align-items: left;
  min-height: 100vh;
  position: relative;
  margin-top: 15px;
}


.kiraro .cardx{
  position: relative;
  width: 420px;
  height: 650px;
  /* background: var(--dark); */
  background-image: url('../images/eastern.webp');
  background-size: cover;
  backdrop-filter: blur(22px) !important;
  border-radius: 20px;
  overflow: hidden;
}


.kiraro .cardx:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(170px at 75% 15%);
  transition: 0.5s ease-in-out;
}


.kiraro .cardx:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.kiraro .cardx:after{
  content: 'East';
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: 7em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.215)
}

.kiraro .cardx .imgBx{
  position: absolute;
  top: 55%;
  transform: translateY(-70%);
  /* transform: translateX(-30%); */
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.6s;
}


.kiraro .cardx:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
}


.kiraro .cardx .imgBx .imageKiraro{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 270px;
}

.kiraro .cardx .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.kiraro .cardx:hover .contentBx{
  height: 210px;
}

.kiraro .cardx .contentBx .NikeShoes{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.kiraro .cardx .contentBx .size, .kiraro .cardx .contentBx .couleur {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}


/*****/

.kiraro .cardx:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.kiraro .cardx:hover .contentBx .couleur{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.kiraro .cardx .contentBx .size .texth3, .kiraro .cardx .contentBx .couleur .texth3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
.texth3{
  margin-bottom: -13px !important;
}

.kiraro .cardx .contentBx .size .spanAttr{
  width: auto;
  height: auto;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.kiraro .cardx .contentBx .size .spanAttr:hover{
  background: #9bdc28;
}

.kiraro .cardx .contentBx .couleur .spanAttr{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.kiraro .cardx .contentBx .couleur .spanAttr:nth-child(2){
  background: #9bdc28;
}

.kiraro .cardx .contentBx .couleur .spanAttr:nth-child(3){
  background: #03a9f4;
}

.kiraro .cardx .contentBx .couleur .spanAttr:nth-child(4){
  background: #e91e63;
}

.kiraro .cardx .contentBx .linkKiraro{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.kiraro .cardx:hover .contentBx .linkKiraro{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}
