.blockDetails{
  background-color: rgba(209, 250, 229);
}

.headBlog{
  position: absolute;
  flex: auto;
  align-items: center;
  align-content: center;
  background-size: cover !important;
  
}

.transparentCover{
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
}

.bandeauTransparent{
  height: 80%;
  width: 80%;
}

.badeauParent{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.blocAuthor{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.saryAuteur{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.coverPicBlog{
  width: 1319px;
  height: 439px;
  object-fit: cover;
}

.blogDescription{
  margin: 50px 100px 50px 100px;
  text-align: justify;
  line-height: 2;
}

@media screen and (max-width: 992px) {
  .blogDescription {
    margin: 50px 25px 50px 25px;
  }
}